<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title align="center">
          Cakra
        </ion-title>
        <ion-buttons end>
          <button ion-button (click)="doClick()">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>


  <ion-content padding>
          <ion-card item-start (click)="detail_posting()" *ngFor="let dt of datareview?.reverse()">
   
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/aa.jpg">
            </ion-avatar>
            <h2>nama</h2>
            <p>tentang saya</p>
          </ion-item>
        
          <ion-row>
              <ion-col col-9 push-3>
                  <h2>Judul}</h2>
                  <p>isi</p>            
              </ion-col>
              <ion-col col-3 pull-9>
                  <img src="assets/img/aa.jpg">
              </ion-col>
          </ion-row>
            
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-card>

  <!--div  *ngFor=" let item of mydata">
 
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-list >
      <ion-item-sliding>
        <ion-item>
          
          <h2> {{item.name}} </h2>
          <h2> {{item.details}} </h2>
   
        </ion-item>
        <ion-item-options side="left">
          
          <button ion-button color="secondary" 
          (click)="onEdit(item.id,item.name,item.details )">
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger"  (click)="onDelete(item.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  
  </div-->

  
<div padding>
    <button ion-button color="secondary"  (click)="myLogOut()" >Log Out</button>
  </div>
  <ion-fab bottom right item-start (click)="inserPage()">
      <button ion-fab><ion-icon name="md-create"></ion-icon></button>
  </ion-fab>
  
</ion-content>
